**_THIS IS A BEGINEER DATA ANALYSIS PROJECT WITH THE TOOLS THAT I HAVE LEARNT TILL NOW_**
TOOLS USED -
i>Python libraries - pandas,numpy,matplotlib
ii>Kaggle dataset
iii> Jupyter notebook

In [ ]:
#The libraries to be used are imported here.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('dark_background')

here the .csv file or the data is read and using head we see the top 5 values of the data

In [ ]:
df= pd.read_csv("zomato.csv")
df.head()

In this below code the shape of the dataframe is shown.i.e the number of rows and columns in use.

In [ ]:
df.shape

here we have 51717 rows, 17 columns

Here the column names o the dataframes are shown

In [ ]:
df.columns

In this part of the code we dropped the columns of the original dataframe which are not required. axis=1 means it is from y axis of the frame

In [ ]:
df= df.drop(['url','address','phone','menu_item','dish_liked','reviews_list'],axis=1)

In [ ]:
df.shape

HEre with info function we get the data constraints, that is if they are null or duplicates present.

In [ ]:
df.info()

Next we need to remove the duplicate values from the dataframe as they might cause errors when we display them in the visualisation.

In [ ]:
df.drop_duplicates(inplace=True)
df.shape

Next we are going to clean the rate column, why? because we want a single float value and not a fractional one to do that we have ti make sure the all values of the rate column are of same looking there should not be any discrepancy in the format.

In [ ]:
df['rate'].unique()

we will remove NEW, - and /5

In [ ]:
def clean(value):
    if(value=="NEW" or value =="-"):
        return np.nan
    else:
        value= str(value).split('/')
        value=value[0]
        return float(value)
df["rate"]=df['rate'].apply(clean)
df['rate'].head()

using this function we can check how many null values are there in the dataframe along with that we can also omit the sum() and get whether the each row in the column is null ot not.

In [ ]:
df.rate.isnull().sum()

Finding the null values and filling it with mean values of the column

In [ ]:
df['rate'].fillna(df['rate'].mean(), inplace=True)
df['rate'].isnull().sum()

In [ ]:
df.info()

In [ ]:
df.dropna(inplace=True) #dropping all the null values
df.head()

In [ ]:
df.rename(columns ={ 'approx_cost(for two people)': 'Cost2Plates', 'listed_in(type)': 'Type'},inplace=True)
df.head()

In [ ]:
df['location'].unique()

In [ ]:
df= df.drop(['listed_in(city)'],axis=1)

In [ ]:
df.head()

In [ ]:
df.Cost2Plates.unique()

In [ ]:
def handlecomma(x):
    x= str(x)
    if ',' in x:
        x = x.replace(',' , '')
        return float(x)
    else:
        return float(x)
    
    
df['Cost2Plates']=df['Cost2Plates'].apply(handlecomma)
df['Cost2Plates'].unique()

In [ ]:
df['rest_type'].value_counts()

In [ ]:
rest_types=df['rest_type'].value_counts(ascending=False)
rest_types

In [ ]:
rest_types_lessthan1000 = rest_types[rest_types<1000]
rest_types_lessthan1000

In [ ]:
def handle_rest_types(x):
    if(x in rest_types_lessthan1000):
        return 'others'
    else:
        return x
    
df['rest_type']=df['rest_type'].apply(handle_rest_types)
df['rest_type'].value_counts()

In [ ]:
df.head()

In [ ]:
df['location'].value_counts()

In [ ]:
cuisines=df['location'].value_counts(ascending=False)
cuisines

In [ ]:
location_less_than_100 = cuisines[cuisines<300]
location_less_than_100

In [ ]:
def handle_location(x):
    if(x in location_less_than_100):
        return 'others'
    else:
        return x
    
df['location']=df['location'].apply(handle_location)
df['location'].value_counts()

In [ ]:
df.head()

In [ ]:
cuisines=df['cuisines'].value_counts(ascending=False)


location_less_than_100 = cuisines[cuisines<100]


def handle_cuisine(x):
    if(x in location_less_than_100):
        return 'others'
    else:
        return x
    
df['cuisines']=df['cuisines'].apply(handle_cuisine)
df['cuisines'].value_counts()

In [ ]:
df.head()

In [ ]:
df['Type'].value_counts()

In [ ]:
plt.figure(figsize=(20,20))
ax=sns.histplot(df['location'])
plt.xticks(rotation =90)

In [ ]:
plt.figure(figsize=(10,10))
sns.histplot(df['online_order'],hue_norm='inferno')

In [ ]:
df.head()

In [ ]:
df.rename(columns={'suisines':'cuisine'},inplace=True)
df.head()